<!doctype html>
<html lang="en" ng-csp ng-app>
<head>
	<title>SBNation Black List Options</title>
	<meta charset="utf-8">
	<script src="angular.min.js"></script>
	<script src="common.js"></script>
	<script src="dao.js"></script>
	<script src="options.js"></script>
</head>
<body ng-controller="UserListCtrl">
<h1>About The SBNation Black List Extension</h1>
<p>This extension allows you to create a list of usernames whose comments (and replies to those comments) will be hidden on any SBNation site.</p>
<p>It runs entirely in your browser session, and will not affect the SBNation servers, nor post any data to those servers. It only affects
the way that SBNation comments are displayed in your browser session.</p>

<h1>Block Users</h1>
<p>To block a user, type their username in the box below and click the "Block" button.</p>
<p>To remove a user from the black list, click the "Un-Block" button next to their username.</p>
<table class="users">
	<tr ng-repeat="user in users">
		<td>{{user.username}}</td>
		<td><button ng-src="{{user}}" ng-click="delete_user(user)">Un-Block</button></td>
	</tr>
	<tr>
		<td><input id="userinput" type="text" name="username" placeholder="Add User" ng-model="addUser" /></td>
		<td><button id="addUserButton" ng-click="add_user()">Block</button></td>
	</tr>
</table>

<h1>Block Replies</h1>
<p>To block replies to blacklisted comments, check this box.  Otherwise, only comments from users on the blacklist will be blocked.</p>
<input id="blockReplies" type="checkbox" ng-checked="blockReplies" ng-model="blockReplies" ng-click="update_block_replies()" /> <label for="blockReplies">Block Replies</label>

<h1>Re-Scan Interval</h1>
<p>To set how often this extension will re-scan an SBNation site for users that have been blocked, move the slider to the desired interval.</p>
<p>During the next scan, if a user has been blocked, their posts will not display.  If a user has been un-blocked, their posts will re-appear.</p>
<input id="interval" type="range" min="10" max="300" ng-model="interval" ng-change="update_interval()" />
<span id="range">{{interval}}</span> seconds

<h1>Reset To Defaults</h1>
<p>To un-block all users, and set the re-scan interval back to the default of 60 seconds, click the "Reset" button.</p>
<button id="resetConfigButton" ng-click="reset_config()">Reset</button>

<p>Copyright &copy; Benjamin Reed, 2011-2013.</p>
<p>Troll image from <a href="http://www.flickr.com/photos/flisspix/360976910/">flickr.com/flisspix</a>, under a
<a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en">Creative Commons Non-Commercial, Share-Alike</a> license.</p>
</body>
</html>
